<base href="/">
<meta charset="utf-8" />
<title><%= title %></title>
<meta name="description" content="Latest updates and statistic charts">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--begin::Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

<!--end::Fonts -->

<!--begin::Page Vendors Styles(used by this page) -->
<link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />

<!--end::Page Vendors Styles -->

<!--begin::Global Theme Styles(used by all pages) -->
<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

<!--end::Global Theme Styles -->

<!--begin::Layout Skins(used by all pages) -->
<link href="/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/skins/brand/brand.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/skins/aside/brand.css" rel="stylesheet" type="text/css" />

<!--end::Layout Skins -->
<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">

<link href="/assets/custom/bootstrap-star-rating/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" /> -->