 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/login" method="post">
              Email:<br>
              <input type="email" name="email" value="" placeholder="hello@manifest.ng">
              <br><br>
              Password:<br>
              <input type="password" name="password" value="" placeholder="password123">
              <br/><br/>
              <input type="submit" value="Login">
            </form>
        </div>
    </div>
    
     
